# files
.DS_Store
results/.DS_Store
data/.DS_Store
environment.yml
run_real.py
model_before_share.py
results/rlst_20230119.txt
results/synthetic/res_iter10000_burn5000.csv
results/synthetic/res.csv
diagnostic_real.py

# folders
misc/
yuki/
__pycache__/
data/
results/mixed/
results/modelcomparison_v230630/
